src/data/gpsies_schema.xml

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="gpsies">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="meta">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="requestUrl" type="xsd:string" />
              <xsd:element name="lat" type="xsd:int" />
              <xsd:element name="lon" type="xsd:int" />
              <xsd:element name="perimeter" type="xsd:decimal" />
              <xsd:element maxOccurs="unbounded" name="trackType" type="xsd:string" />
              <xsd:element name="resultPage" type="xsd:int" />
              <xsd:element name="limit" type="xsd:int" />
              <xsd:element name="filetype" type="xsd:string" />
              <xsd:element name="downloadBaseUrl" type="xsd:string" />
              <xsd:element name="northWestLat" type="xsd:decimal" />
              <xsd:element name="northWestLon" type="xsd:decimal" />
              <xsd:element name="southEastLat" type="xsd:decimal" />
              <xsd:element name="southEastLon" type="xsd:decimal" />
              <xsd:element name="resultSize" type="xsd:int" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="tracks">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="track">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="title" type="xsd:string" />
                    <xsd:element name="fileId" type="xsd:string" />
                    <xsd:element name="downloadLink" type="xsd:string" />
                    <xsd:element name="createdDate" type="xsd:dateTime" />
                    <xsd:element name="changedDate" type="xsd:dateTime" />
                    <xsd:element name="startPointLat" type="xsd:decimal" />
                    <xsd:element name="startPointLon" type="xsd:decimal" />
                    <xsd:element name="endPointLat" type="xsd:decimal" />
                    <xsd:element name="endPointLon" type="xsd:decimal" />
                    <xsd:element name="startPointCountry" type="xsd:string" />
                    <xsd:element name="endPointCountry" type="xsd:string" />
                    <xsd:element name="trackLengthM" type="xsd:decimal" />
                    <xsd:element name="countTrackpoints" type="xsd:int" />
                    <xsd:element name="trackProperty" type="xsd:string" />
                    <xsd:element name="altitudeMinHeightM" type="xsd:int" />
                    <xsd:element name="altitudeMaxHeightM" type="xsd:int" />
                    <xsd:element name="altitudeDifferenceM" type="xsd:int" />
                    <xsd:element name="totalAscentM" type="xsd:int" />
                    <xsd:element name="totalDescentM" type="xsd:int" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
